<div class="image-container">
  <%= image_tag("https://cdn.midjourney.com/2698ef4a-57a5-41c2-a04c-377d53ec533a/0_1.png", class: "full-page-image", alt: "Sign Up Background") %>
</div>

<div class="form-container">
  <div class="form-card">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username, required: true, autofocus: true, input_html: { autocomplete: "username", class: "form-control" }, label: "Username" %>
        <%= f.input :email, required: true, input_html: { autocomplete: "email", class: "form-control" }, label: "Email" %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" }, label: "Password" %>
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "form-control" }, label: "Confirm Password" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
