<div class="image-container">
  <%= image_tag("https://cdn.midjourney.com/2698ef4a-57a5-41c2-a04c-377d53ec533a/0_1.png", class: "full-page-image", alt: "Booking Background") %>
</div>

<div class="booking-container">
  <div class="form-card">
    <h2>Book: <%= @exotic_pet.name %></h2>
    <%= simple_form_for [@exotic_pet, @booking] do |f| %>
      <div class="form-inputs">
        <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" },
                                  placeholder: "📅 Select start date" },
                    label: "Start Date" %>
        <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" },
                                  placeholder: "📅 Select end date" },
                    label: "End Date" %>
        <%= f.input :event_details, as: :text, label: "Event Details" %>
        <%= f.input :contact_email, as: :email, label: "📧 Contact Email" %>
        <%= f.input :contact_phone, as: :tel, label: "📞 Contact Phone" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Submit Booking", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
