

<%# LIAMS NEW DESING BELOW %>
<div class="container">
  <div class="column">
    <body>
      <main>
        <section class="image-gallery">
          <%= cl_image_tag(@exotic_pet.photo.key) %>
          <br>
          <%= cl_image_tag(@exotic_pet.photo.key) %>
          <br>
          <%= cl_image_tag(@exotic_pet.photo.key) %>
        </section>
      </div>

      <div class="column">
        <header>
          <h1><%= @exotic_pet.name.upcase %></h1>
          <span class="rating">★★★★★</span>
        </header>

        <section class="description">
          <p><%= @exotic_pet.description %></p>
          <p class="age">Age: <%= @exotic_pet.age %> years</p>
          <%= link_to "BOOK", new_exotic_pet_booking_path(@exotic_pet), class: "book-btn" %>
        </section>

        <section class="reviews">
          <h2>Reviews</h2>
          <div class="review">
            <p>⭐⭐⭐⭐ - Liam said "Excellent service!"</p>
          </div>
          <div class="review">
            <p>⭐⭐⭐⭐⭐ - Sapana said "Absolutely breathtaking!"</p>
          </div>
        </section>
      </div>
      </main>
  </body>
</div>
