<div class="l-header">
  <div class="l-header__inner">
    <div class="l-header__brand">
      <%= link_to root_path, class: "l-header__link" do %>
        <%= image_tag "logo.png", class: "l-header__logo", alt: "Exotic Pets Logo" %>
        <span class="l-header__title">Exotic Pets</span>
      <% end %>
    </div>

    <nav class="l-header__nav">
      <ul class="l-header__ul">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= form_with url: exotic_pets_path, method: :get, class: "search-bar-form" do %>
              <div class="search-bar-wrapper">
                <%= text_field_tag :query, params[:query], placeholder: "Search...", class: "search-input" %>
                <button type="submit" class="search-icon">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", "/bookings", class: "nav-link" %>
          </li>
          <li class="nav-item" data-action="click->sound#playSound">
            <%= link_to "All Pets", "/exotic_pets", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-alert" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= form_with url: exotic_pets_path, method: :get, class: "search-bar-form" do %>
              <div class="search-bar-wrapper">
                <%= text_field_tag :query, params[:query], placeholder: "Search...", class: "search-input" %>
                <button type="submit" class="search-icon">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "All Pets", "/exotic_pets", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", "/users/sign_up", class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>

    <% if user_signed_in? %>
      <div class="l-header__avatar">
        <%= image_tag "https://avatars.githubusercontent.com/u/187302196?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, alt: "Profile Picture" %>
      </div>
    <% end %>
  </div>
</div>
